@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Roboto:wght@300;400;700&display=swap');
/* Vars */
:root {
  font-size: 20px;
  --primary: #f5deb3;
  --prim-grad: linear-gradient(135deg, #F5DEB3 0%, #E8E5DE 100%);
  --secondary: #A9A9A9;
  --gray: #949494;
  --text: #333;
  --title: #000;
  --radius: 8px;
  --border: #C0C4C9;
  --wrong: #e90b0b;
}
/* Vars */
/* Reset */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

* {
  box-sizing: border-box;
}

:focus {
  outline: none;
  border-color: --primary;
}

strong {
  color: var(--primary);
  font-weight: inherit;
}

.button {
  border: none;
  text-align: center;
  padding: 1rem 2.2rem;
  cursor: pointer;
  font-size: 1rem;
  display: grid;
  background: var(--primary);
  box-shadow: 0 0.25em 0px 1px rgb(174 155 118);
  place-items: center;
  width: fit-content;
  font-weight: 400;
  text-align: center;
  border-radius: var(--radius);
  -webkit-border-radius: var(--radius);
  -moz-border-radius: var(--radius);
  -ms-border-radius: var(--radius);
  -o-border-radius: var(--radius);
  transition: .2s ease-in-out;
  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -ms-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
}

.button:hover,
.button:active,
.button:focus-within {
  box-shadow: none;
  transform: translateY(4px);
  -webkit-transform: translateY(4px);
  -moz-transform: translateY(4px);
  -ms-transform: translateY(4px);
  -o-transform: translateY(4px);
  transition: .2s ease-in-out;
  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -ms-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
}

body.hidden {
  overflow: hidden;
}

input,
textarea {
  position: relative;
  display: flex;
  outline: none;
  padding: 0.9rem 1.6rem;
  font-size: 1rem;
  border: 1px solid var(--primary);
  font-weight: 300;
  color: var(--text);
  width: 100%;
  max-width: 100%;
  border-radius: var(--radius);
  -webkit-border-radius: var(--radius);
  -moz-border-radius: var(--radius);
  -ms-border-radius: var(--radius);
  -o-border-radius: var(--radius);
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

textarea {
  resize: vertical;
  font-family: inherit;
}

input::placeholder,
textarea::placeholder {
  color: var(--text);
  font-weight: 300;
  opacity: 0.6;
}

input:focus,
input:active,
textarea:hover,
textarea:focus {
  border-color: var(--primary);
}

.form__row.error input {
  border: 1px solid var(--wrong);
}

.form__row.success input {
  border: 2px solid var(--primary);
}

a {
  display: block;
  transition: 0.3s ease;
  text-decoration: none;
  color: inherit;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

a:hover,
a:active,
a:focus {
  color: var(--primary);

}

img {
  display: block;
  max-width: 100%;
}

html,
body {
  height: 100%;
}

main {
  overflow-x: hidden;
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

section:not(.promo) {
  padding-top: 5.5rem;
  padding-bottom: 5rem;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.5;
  background: #fff;
  color: var(--text);
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(26, 24, 47, 0.15);
  height: 200px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
}

.container {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 20px;
}

.title {
  margin-bottom: 2.6rem;
  font-weight: 400;
  font-size: 3.2rem;
  text-align: center;
  line-height: 1.3;
  color: var(--text);
  font-family: 'PT Sans Narrow', sans-serif;
}

.header {
  width: 100%;
  padding-top: 4px;
  top: 0;
  left: 0;
  z-index: 100;
  transition: padding 0.9s ease;
  -webkit-transition: padding 0.9s ease;
  -moz-transition: padding 0.9s ease;
  -ms-transition: padding 0.9s ease;
  -o-transition: padding 0.9s ease;
}

.header_wrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.header_content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
}

.header_logo {
  flex-grow: 1;
}

.logo {
  flex-shrink: 0;
  transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -ms-transition: 0.4s ease;
  -o-transition: 0.4s ease;
}

.logo:hover {
  opacity: 0.8;
}

.header_list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2.5rem;
}

.header_list_link {
  position: relative;
  font-size: .9rem;
  font-weight: 300;
  transition: 0s;
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -ms-transition: 0s;
  -o-transition: 0s;
}

.header_list_item:not(:last-child) .header_list_link::after {
  content: "/";
  position: absolute;
  top: 50%;
  right: -1.25rem;
  color: var(--primary);
  font-weight: 300;
  font-size: 20px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.header_list_link:hover,
.header_list_link:active,
.header_list_link:focus {
  color: var(--primary);
}

.burger {
  position: relative;
  width: 30px;
  height: 20px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.burger span {
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 100px;
  background-color: var(--primary);
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

.burger.burger__active {
  transition: 0.4s;
}

.burger.burger__active span {
  transition: 0.4s;
  position: absolute;
}

.burger.burger__active span:nth-child(1) {
  top: 50%;
  left: 0;
  transform: rotate(45deg) translateY(-50%);
  -webkit-transform: rotate(45deg) translateY(-50%);
  -moz-transform: rotate(45deg) translateY(-50%);
  -ms-transform: rotate(45deg) translateY(-50%);
  -o-transform: rotate(45deg) translateY(-50%);
}

.burger.burger__active span:nth-child(2) {
  top: 50%;
  left: 0;
  transform: rotate(-45deg) translateY(-50%);
  -webkit-transform: rotate(-45deg) translateY(-50%);
  -moz-transform: rotate(-45deg) translateY(-50%);
  -ms-transform: rotate(-45deg) translateY(-50%);
  -o-transform: rotate(-45deg) translateY(-50%);
}

.burger.burger__active span:nth-child(3) {
  display: none;
}

.burger-menu {
  position: absolute;
  padding: 2.5rem 4rem;
  top: -1000px;
  right: 0;
  background: #fff;
  z-index: 1000;
  box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.2);
  transition: 0.7s ease-in-out;
  -webkit-transition: 0.7s ease-in-out;
  -moz-transition: 0.7s ease-in-out;
  -ms-transition: 0.7s ease-in-out;
  -o-transition: 0.7s ease-in-out;
}

.burger-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
}

.burger-wrapper .header_list {
  flex-direction: column;
  gap: 0.75rem;
}

.burger-wrapper .header_list_link::after {
  content: none !important;
}

.burger-menu.active {
  top: 0;
  transition: 0.7s ease-in-out;
  -webkit-transition: 0.7s ease-in-out;
  -moz-transition: 0.7s ease-in-out;
  -ms-transition: 0.7s ease-in-out;
  -o-transition: 0.7s ease-in-out;
}

.close_burger svg {
  width: 100%;
}

.header_content_bottom {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}

.header_content_bottom_social,
.header_content_bottom_tel {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}

.header_content_bottom_social {
  font-size: 1rem;
}

.header_content_bottom_tel {
  /* font-size: 1.2rem; */
}

.header_content_bottom_tel svg {
  width: 20px;
  height: 100%;
}

.header_content_bottom_social a {
  display: grid;
  place-items: center;
}

.header_content_bottom_social svg {
  width: 20px;
}


.footer {
  position: relative;
  margin-top: 3rem;
  padding: 2.5rem 0 0.8rem;
  border-top: 1px solid var(--title);
  color: var(--title);
}
.footer_brand {
  position: absolute;
  top: 0;
  display: grid;
  place-items: center;
  text-transform: uppercase;
  left: 50%;
  background: #fff;
  width: 10rem;
  font-weight: 700;
  font-size: 1.8rem;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.footer_top {
  margin-bottom: 1rem;
}
.footer_bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer_col {
}
.footer_contact {
  text-align: left;
}
.footer_title {
  font-size: 0.8rem;
  font-weight: 400;
}

.footer_link {
  font-size: 0.7rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer_link:hover,
.footer_link:active,
.footer_link:focus {
  color: var(--primary);
}

.footer_link_tel {
  gap: 3px;
  margin-bottom: 0.6rem;
}

.footer_navigation {
  text-align: center;
}

.footer_link_tel:hover path,
.footer_link_tel:active path,
.footer_link_tel:focus path {
  stroke: var(--primary);
}

.footer_link_tel svg,
.footer_link_social svg {
  flex-shrink: 0;
}

.footer_link_tel {
  text-decoration: underline;
}

.footer_list {
  margin-top: 0.6rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
}
.footer_list_link {
  font-size: 0.8rem;
  font-weight: 300;
}

.footer_list_link:hover,
.footer_list_link:active,
.footer_list_link:focus {
  text-decoration: underline;
  color: var(--primary);
}

.footer_address {
  text-align: right;
}

.footer_address .footer_title {
  margin-bottom: 0.6rem;
}

.footer_text {
  font-size: 0.8rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.box-with-img {
  display: flex;
  justify-content: space-between;
}

.box-with-img_left {
  flex-basis: calc(100% - 2.5rem - 40rem);
}

.box-with-img_right {
  flex-basis: 40rem;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  border: 0;
  visibility: hidden;
  z-index: 1000;
  transition: 1s linear;
  -webkit-transition: 1s linear;
  -moz-transition: 1s linear;
  -ms-transition: 1s linear;
  -o-transition: 1s linear;
}

.modal__active {
  top: 0;
  opacity: 1;
  visibility: visible;
  transition: 1s linear;
  background: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(14px);
  -webkit-transition: 1s linear;
  -moz-transition: 1s linear;
  -ms-transition: 1s linear;
  -o-transition: 1s linear;
}

.modal__content {
  position: relative;
  width: 100%;
  max-width: 32.5rem;
  padding: 2.7rem 4rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border: 1px solid var(--primary);
  border-radius: var(--radius);
  transition: 0.7s ease-in-out;
  -webkit-transition: 0.7s ease-in-out;
  -moz-transition: 0.7s ease-in-out;
  -ms-transition: 0.7s ease-in-out;
  -o-transition: 0.7s ease-in-out;
  -webkit-border-radius:;
  -moz-border-radius:;
  -ms-border-radius:;
  -o-border-radius:;
}

.modal__title {
  margin-bottom: 2.1rem;
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
}

.modal__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal__form .button {
  margin-top: 2.5rem;
  margin-inline: auto;
}

.close_modal {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  width: 20px;
  z-index: 1;
  height: 20px;
  cursor: pointer;
}

.close_modal:hover path,
.close_modal:active path,
.close_modal:focus path {
  stroke: var(--primary)

}

.close_modal img {
  width: 100%;
  height: 100%;
}

.preloader {
  z-index: 10000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  transition: 0.7s;
}

.preloader img {
  display: block;
  width: 120px;
  height: 120px;
}

.preloader.shown {
  display: flex;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
