/* PROMO */
.promo {
  position: relative;
  padding: 9.25rem 0 7.25rem;
  background: url('images/promo.png') no-repeat center center/cover;
  text-align: center;
}

.promo_title {
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 3.2rem;
  font-family: 'PT Sans Narrow', sans-serif;
}

.promo_text {
  font-size: 1.4rem;
  margin-bottom: 1.2rem;
}

.promo_control {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.75rem;
}

.promo_control .button {
  padding: 1rem 2.2rem;
}

.promo_sub-button {
  font-size: 0.8rem;
  font-weight: 300;
}

/* ABOUT */
.about {
  background: url('images/about.png') no-repeat center center/cover;
}

.title span {
  display: block;
  color: var(--gray);
  font-size: 1.6rem;
  text-align: center;
  font-weight: 400;
  margin-top: -5px;
}
.box-with-img {
}
.box-with-img_left {
  position: relative;
}

.box-with-img_left h4 {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  font-weight: 400;
  background: var(--primary);
  color: #fff;
  padding: 1rem 1.5rem;
  z-index: 1;
}
.box-with-img_right {
}
.about_items {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1.5rem;
}
.about_item {
  font-size: 1rem;
  padding: 1rem 1.5rem;
  border-left: 5px solid var(--primary);
  background: #fff;
}

.about img {
  width: 100%;
}

/* ABOUT */
/* FEATURES */
.features {
  background: url('images/features.png') no-repeat center center/cover;
}

.featres_text {
  font-size: 0.9rem;
  font-weight: 300;
  margin-bottom: 2rem;
  text-align: center;
  max-width: 50rem;
  margin-inline: auto;
}
.features_items {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.featres_text strong {
  font-weight: 700;
}

.features_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
  padding: 1rem 1.75rem 2rem;
  background: #fff;
  border-radius: 4px;
  box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  flex: 1;
}
.features_item-img {
}
.features_item-title {
  font-size: 1rem;
  font-weight: 400;
}
/* FEATURES */

/* SERVICES */

.servcies_items {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  justify-content: center;
  max-width: 850px;
  margin-inline: auto;
}
.servcies_item {
  background-color: transparent;
  height: 300px;
  perspective: 1000px;
}

.servcies_item .button {
  box-shadow: none;
  background: transparent;
  border: 2px solid var(--primary);
}

.servcies_item .button:hover,
.servcies_item .button:active,
.servcies_item .button:focus {
  background: var(--primary);
  transform: none;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
}

.innerCard {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  -webkit-transition: transform 0.8s;
  -moz-transition: transform 0.8s;
  -ms-transition: transform 0.8s;
  -o-transition: transform 0.8s;
}

.frontSide::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 7.5rem;
  height: 7.5rem;
  user-select: none;
  background: url("images/hat.svg") no-repeat center center/contain;
  transform: translate(50%, -50%);
  -webkit-transform: translate(50%, -50%);
  -moz-transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
  -o-transform: translate(50%, -50%);
}


.innerCard.active::after { content: none;}

.innerCard.active {
  transform: rotateY(180deg);
}

.frontSide,
.backSide {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 1rem 0.5rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: var(--radius);
  font-weight: 700;
  border: 1px solid #E2E2E2;
  box-shadow: 0px 8px 10px 0px rgba(245, 222, 179, 0.45);
  -webkit-border-radius: var(--radius);
  -moz-border-radius: var(--radius);
  -ms-border-radius: var(--radius);
  -o-border-radius: var(--radius);
}

.frontSide,
.frontSide::before {
  background: #fff;
}

.backSide,
.backSide::before {
  background: #fff5df;
}

.backSide {
  cursor: pointer;
  transform: rotateY(180deg);
}

.frontSide::before,
.backSide::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  width: 110%;
  height: 110%;
  position: absolute;
  z-index: -1;
  border-radius: 1em;
  filter: blur(20px);
  animation: animate 5s linear infinite;
}

.backSide-text {
  font-size: 1rem;
  font-weight: 400;
}

.frontSlide-image {
  width: 160px;
  margin-inline: auto;
  position: absolute;
  z-index: 0;
  top: 20%;
}

.frontSide-title,
.frontSide .button {
  z-index: 1;
}

.frontSide-title,
.backSide-price {
  font-size: 1.6rem;
  font-weight: 400;
}

.services_text {
  margin-top: 1.6rem;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
  color: var(--gray);
}

.services_text + .button {
  margin-inline: auto;
}

@keyframes animate {
  0% {
    opacity: 0.3;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0.3;
  }
}


/* SERVICES */

/* REVIEWS */
.reviews {
  background: url('images/reviews.png') no-repeat center center/cover;
  --swiper-theme-color: var(--primary);
  --swiper-navigation-sides-offset: -3rem;
}
.reviews_wrapper {
  position: relative;
  background: #Fff;
  text-align: center;
  border-radius: var(--radius);
  -webkit-border-radius: var(--radius);
  -moz-border-radius: var(--radius);
  -ms-border-radius: var(--radius);
  -o-border-radius: var(--radius);
  margin: 0 2rem;
  padding: 3rem 2rem 1rem;
  margin-inline: auto;
  width: fit-content;
}

.reviews_slider {
  overflow: hidden;
  max-width: 34rem;
  margin-inline: auto;
}

.review_item-title {
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.review_item-text {
  font-weight: 300;
}

/* REVIEWS */

/* FEEDBACK */
.feedback_wrapper {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}
/* 
.feedback_image {

} */

.feedback_inner {
  flex-basis: 35rem;
}

.feedback_inner .title {
  text-align: left !important;
}


.feedback_form {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}


.phone {
}
.button {
}
/* FEEDBACK */
