.navbar .collapse .navbar-nav .nav-item .nav-link {
    font-size: 23px;
}

.cart-create {
    transition: .25s;
}

.cart-create:hover {
    box-shadow: 0 14px 26px -12px rgba(156, 39, 176, .42), 0 4px 23px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(156, 39, 176, .2);
    cursor: pointer;
}

.cart-create .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 150px;
}

.cart-create .icon {
    font-size: 3rem;
}

.client-editable [data-name] {
    position: relative;
}

.client-editable .editIcon {
    position: absolute;
    top: -6px;
    right: -19px;
    font-size: 0.8rem;
    opacity: .7;
}

.client-editable .inputFormSave {
    position: relative;
    display: inline;
}

input.table-input {
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, .05);
    padding: 10px 15px;
    width: 100%;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(156, 39, 176, .4);
}

.client-editable .inputFormSave .saveButton {
    position: absolute;
    right: 20px;
    cursor: pointer;
    top: 0;
    color: #000000;
    opacity: .4;
    transition: .25s;
}

.client-editable .inputFormSave .saveButton:hover {
    opacity: 1;
}

.sidebar-wrapper .avatar {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    overflow: hidden;
    margin: 10px auto;
}

.sidebar-wrapper .username {
    text-align: center;
}

.task-table tbody tr {
    /*opacity: .3;*/
    transition: .25s;
}

.task-table tbody tr.active {
    opacity: 1;
    color: #8e24aa;
    background: #f1f1f1;
}

.task-table tbody tr.success {
    position: relative;
    opacity: .4;
}

.task-table tbody tr.success.active {
    opacity: 1;
}

/*.task-table tbody tr.success::after {*/
/*content: '';*/
/*position: absolute;*/
/*width: 100%;*/
/*height: 2px;*/
/*background: #999999;*/
/*top: 49%;*/
/*left: 0;*/
/*}*/
td.task-actions {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

td.task-actions .icon {
    transition: .25s;
    color: #999;
    font-size: 1rem;
    margin: 0px 10px;
}

td.task-actions .icon:hover {
    color: #8e24aa;
    cursor: pointer;
}

.payment-table tr.success {
    opacity: .4;
}

.alert .close i {
    font-size: 18px;
}

.accordion .card {
    margin: 10px 0;
    box-shadow: none;
    padding: 0;
}

.accordion .btn-collapse {
    text-align: left;
    background: #f1f1f1 !important;
}

.accordion .btn-collapse.collapsed {
    background: none !important;
}

.accordion .btn-collapse::after {
    content: '\f107';
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    font-size: .9rem;
    margin-left: 8px;
    transition: .25s;
    display: inline-block;
}

.accordion .btn-collapse.collapsed::after {
    transform: rotate(180deg);
}

#dop-info #editor {
    cursor: pointer;
}

.ql-editor p, .ql-editor ol, .ql-editor ul, .ql-editor pre, .ql-editor blockquote {
    margin-bottom: 1rem;
}

.ql-editor h1, .ql-editor h2, .ql-editor h3, .ql-editor h4, .ql-editor h5, .ql-editor h6 {
    margin: 20px 0;
    margin-top: 0;
}

blockquote, .ql-snow .ql-editor blockquote {
    border-left: 4px solid #ccc;
    background: #eee;
    padding: 10px;
    margin: 10px 0;
}

pre.ql-syntax {
    background: #000;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(156, 39, 176, .4);
}

.ql-toolbar.ql-snow {
    border: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.ql-container.ql-snow {
    border: none;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.03), 0 7px 10px -5px rgba(156, 39, 176, .4);
}

.card-profile .card-avatar img {
    background: #ffffff;
}

.sidebar-wrapper .office {
    text-align: center;
    color: #999;
    font-size: 0.8rem;
    text-transform: uppercase;
}

.users_controller .user_photo img {
    width: 100%;
}

.users_controller .user_photo {
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 50%;
}

#editor h1 {
    font-size: 1.7rem;
}

.ql-editor strong, strong {
    font-weight: bold;
}

.chat-body .message {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
}

.chat-body, .topic-container {
    overflow-y: scroll;
    max-height: 450px;
}

.chat-body .message-photo {
    border-radius: 50%;
    width: 50px;
    min-width: 50px;
    overflow: hidden;
    margin-right: 20px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(156, 39, 176, .4);
}

.chat-body .message-photo img {
    width: 100%;
    display: block;
}

.chat-body .message {
    margin: 2px 0;
    padding: 10px;
}

.chat-body .message .message-name {
    font-weight: bold;
}

.chat-body .message-body-top {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.chat-body .message-date {
    color: #999999;
    font-size: .9em;
    margin-left: 20px;
}

.chat-footer input {
    width: 100%;
    transition: .25s;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, .05);
    padding: 10px 15px;
}

.chat-footer input:focus {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(156, 39, 176, .4);
}

.chat-footer {
    position: relative;
    margin-top: 20px;

}

.chat-footer button {
    position: absolute;
    right: 1%;
    top: 22%;
    background: none;
    border: none;
    color: #9c27b0;
    font-size: 1.3em;
    cursor: pointer;
}

*::-webkit-scrollbar {
    width: 7px;
}

*::-webkit-scrollbar-track {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(156, 39, 176, .4);
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #9c27b0;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(156, 39, 176, .4);
}

*::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 0, 0, 0.4);
}


.message-name span, .users_controller .user_name span, .card-profile .card-title span {
    color: #555555;
    font-size: .9em;
}

.card-profile .profile-info {
    margin-top: 10px;
    text-align: left;
}

.card-profile .profile-info .row-data {
    margin: 10px 0;
}

.card-profile .profile-info .row-data .title {
    font-weight: bold;
    font-size: 1.1em;
}

.message-popup {
    display: none;
    padding: 40px;
    max-width: 400px;
}

.message-popup h2 {
    text-align: center;
    font-size: 1.2em;
}

.message-popup input, .message-popup textarea {
    width: 100%;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, .05);
    padding: 10px 15px;
    transition: .25s;
}

.message-popup button {
    text-align: center;
    display: block;
    margin: 10px auto;
}

.message-popup .fancybox-button {
    background: linear-gradient(60deg, #ab47bc, #8e24aa);
    border-radius: 50%;
    color: #fff;
    right: 20px;
    transition: .25s;
}

.message-popup .fancybox-button:hover {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(156, 39, 176, .4);
}

.message-popup input:focus, .message-popup textarea:focus {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(156, 39, 176, .4);
}

.messages-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.topic-container {
    width: 230px;
    /*box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(156,39,176,.4);*/
    border-right: 2px solid #9c27b066;
}

.topic-container .topic {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px;
    transition: .25s;
    cursor: pointer;
}

.topic-container .topic.active, .topic-container .topic:hover {
    background: #f1f1f1;
}

.topic-container .topic .photo {
    width: 50px;
    overflow: hidden;
    border-radius: 50%;
}

.topic-container .topic .photo img {
    width: 100%;
}

.topic-container .topic .topic-body {
    margin-left: 15px;
}

.topic-container .topic .name {
    font-weight: bold;
    color: #8e24aa;
}

.messages-block .chat-body {
    margin-left: 20px;
    /*width: 350px;*/
}

.chat-top {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: #f1f1f1;
    padding: 10px 15px;
    align-items: center;
}

.chat-top .image {
    width: 45px;
    border-radius: 50%;
    overflow: hidden;
    align-items: center;
}

.chat-top .image img {
    width: 100%;
}

.chat-top .name {
    margin-left: 20px;
    font-weight: bold;
}

.chat-top .name span {
    font-size: .9em;
    font-weight: normal;
}

.message-text-files {
    background: #f1f1f1;
    padding: 5px 10px;
}

.message-text-files:before {
    content: 'Прикпреленные файлы:';
    font-weight: bold;
}

.message-text-files ol {
    padding-left: 20px;
    margin: 0;
}

.chat-footer form {
    position: relative;
}

.chat-footer .icon-attach {
    position: absolute;
    right: 9%;
    top: 29%;
    color: #9c27b0;
    cursor: pointer;
    font-size: 1.3em;
}

.modal-all input, .modal-all select {
    width: 100%;
    border: 1px solid #f1f1f1;
    padding: 10px 15px;
    border-radius: 20px;
    transition: .25s;
    cursor: pointer;
}

.modal-all select {
    background: #f1f1f1;
}

.modal-all input:focus, .modal-all select:focus {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(156, 39, 176, .4);
}

.card-body .card-image {
    width: 100%;
}

.card-body .card-image img {
    display: block;
    width: 100%;
}

.listing-clients .card .link {
    font-size: .75em;
    color: #eeeeee;
}

.listing-clients .card .over img {
    display: block;
    width: 100%;
}

.listing-clients .card .card-body {
    -webkit-background-size: cover;
    background-size: cover;
}

.listing-clients .card {
    position: relative;
    overflow: hidden;
}

.listing-clients .card .over {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.listing-clients .card.black, .card.black .card-title, .card.black .card-text {
    color: #ffffff;
}

.listing-clients .card.black, .card.black .link a {
    color: #f9f9f9;
    transition: .25s;
}

.listing-clients .card.black, .card.black .link a:hover {
    color: #9c27b0;
}

#alert_form input {
    width: 100%;
    transition: .25s;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, .05);
    padding: 10px 15px;
}

#client_log table {
    max-height: 150px;
    overflow-y: scroll;
}

[data-action=Task_start] {
    border-left: 15px solid blueviolet;
    /*color: #ffffff;*/
}

[data-action=Task_pause] {
    border-left: 15px solid darkred;
    /*color: #ffffff;*/
}

[data-action=Task_success] {
    border-left: 15px solid darkgreen;
    /*color: #ffffff;*/
}

div#client_log .card-body .table-responsive {
    max-height: 400px;
    overflow-y: scroll;
}

.task-success-percent {
    position: relative;
    height: 10px;
    width: 100%;
    border-radius: 10px;
    /*overflow: hidden;*/
    background: #eeeeee;
    margin-bottom: 15px;
    margin-top: 29px;
    box-shadow: 0 14px 26px -12px rgba(156, 39, 176, .42), 0 4px 23px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(156, 39, 176, .2);
}

.task-success-percent .success, .card_success_container .success {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 10px 0px 0px 10px;
    background: #9c27b0;
    transition: 1s;
}

.task-success-percent .text, .card_success_container .text {
    position: absolute;
    top: -27px;
    font-weight: 500;
}

.task-success-percent .text:before, .card_success_container .text:before {
    content: '';
    position: absolute;
    width: 18px;
    top: 30px;
    left: -1px;
    height: 2px;
    background: #9c27b0;
    transform: rotate(90deg);
}

.card_success_container {
    height: 10px;
    width: 100%;
    position: relative;
    background: #eeeeee;
}
.card_success_container .success {
    border-radius: 0;
}
table.json-generator td {
    padding: 10px;
}
@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
        column-gap: 1.25rem;
        column-fill: balance;
    }
}
